body{
    margin:0;
    padding:0;
    overflow-x:hidden;
    
}
html {
  scroll-behavior: smooth;
}
.logo{
    
    margin-top:40px;
    margin-left:40px;
    position: relative;
    top:-10px;
    font-size:40px;
    color:#f9e5c2;
    font-family:'Dancing Script', cursive;
    font-weight:normal;
}
.top{
    display:flex;
    list-style: none;
    gap:50px;

}
.top a{
    text-decoration: none;
    color:white;
    font-family: arial;
    font-size:13px;

}
a:hover{
    color:#be9b5e;
    
}
a:active{
    color:white;
}
.navbar{
    background-color: #7a5434;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:10px 30px;
    position:fixed;
    top:0;
    width:100%;
    z-index:100; 

}
.search-icon{
    cursor:pointer;
    color:black;
    margin-right:4rem;
}
#navbar.shrink {
  padding: 1px 20px;
  background-color: #5d3e20;
}
.contact-section {
  display: flex;
  justify-content: space-around;
  background-color: #844f35;
  color: white;
  padding: 40px 20px;
  flex-wrap: wrap;
  text-align: center;
}

.contact-box {
  max-width: 220px;
  margin: 10px;
  text-align: left;
}

.icon {
  font-size: 20px;
  margin-bottom: 8px;
}

.contact-box h6 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
  margin-top:10px;
}

.contact-box p {
  font-size: 14px;
  color: #ddd;
  line-height: 1.6;
  font-family:Arial, Helvetica, sans-serif ;
}

.footer {
  background-color: #844f35;;
  color: #f9e5c2;
  text-align: center;
  font-size: 12px;
  font-family: Arial, sans-serif;
}
.beans-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
}

.bean-card {
  display: flex;
  align-items: center;
  background-color: #eacfb0;
  border-radius: 12px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  transition: transform 0.3s;
}

.bean-card:hover {
  transform: scale(1.02);
}

.bean-card img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.bean-info {
  padding: 20px;
  flex: 1;
}

.bean-info h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.bean-info p {
  margin: 0 0 10px;
  font-size: 16px;
}

.price {
  font-weight: bold;
  color: #5c3b1e;
  font-size: 18px;
}
